<div class="wrapper">
  <div class="container-box">
    <div class="top">
      <h1>Notifications</h1>
    </div>
    <div class="bottom">
      <div class="left">
        <div class="details">
          <div class="row">
            <div class="col-12">
              <p-scrollPanel [style]="{width: '100%', height: '100%'}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <strong>Your blood glucose level is very high.</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>You missed to record your blood glucose level yesterday.</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
              </p-scrollPanel>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
