@import url('https://fonts.googleapis.com/css?family=Abel');

.wrapper {
    min-height: 370px;
    width: 100%;
    max-height: 370px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius:  10px 10px 10px 10px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

.wrapper .container-box .top {
    height: 60%;
    width: 100%;
    padding: 15px;
}

.wrapper .container-box .top h1 {
    font-size: 150%;
}

.wrapper .container-box .bottom {
    width: 100%;
    margin-top: -10px;
    z-index: 5;
    transition: transform 0.5s;
}

.wrapper .container-box .bottom .left {
    height: 100%;
    width: 100%;
    background: white;
    color: rgb(10, 10, 10);
}

.wrapper .container-box .bottom .left .details {
    padding: 15px;
}

.wrapper .container-box .bottom .left  h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Abel, Arial, Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
}

.measurement-container {
    text-align: left;
    margin-top: 15px;
}

.sub-heading {
    font-family: Abel, Arial, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .label {
        font-size: 18px !important;
    }

    .sub-heading { 
        font-size: 20px !important;
    }

    .reading { 
        font-size: 16px !important;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .label {
        font-size: 18px !important;
    }
    .sub-heading { 
        font-size: 20px !important;
    }

    .reading { 
        font-size: 16px !important;
    }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    .label {
        font-size: 18px !important;
    }
    .sub-heading { 
        font-size: 20px !important;
    }

    .reading { 
        font-size: 16px !important;
    }
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}