
<div class="wrapper">
    <div class="container-box">
        <div class="bottom">
            <div class="left">
                <div class="details">
                    <h1>Morning</h1>
                    <div class="row">
                        <div class="column"> 
                            <div class="card-heading">Before Food</div>
                        </div>
                        <div class="column"> 
                            <div class="card-heading">After Food </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="column"> 
                            <div class="widget-details">
                                <span class="sugar-level">90</span>
                            </div>
                        </div>
                        <div class="column"> 
                            <div class="sugar-level">124</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
