<div class="wrapper">
  <div class="container-box">
    <div class="top">
      <div class="avtar-container">
            <h1><span class="icon-361 icon-avtar"></span>{{this.getUserName()}},</h1>
      </div>

      <div class="average-container">
        <div class="average-info">
            <span class="icon-258 blood-icon"> </span>
            <span class="gluco-number">{{todaysAverage}}<span class="unit-text">mg/dl</span></span>
        </div>
        <div class="right-info">
          <h4>Today's Average</h4>
        </div>
      </div>
    </div>
  </div>
</div>
