<br/>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 card-container">
        <app-flash-card></app-flash-card>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 card-container">
        <app-glucose-summary-card></app-glucose-summary-card>
      </div>
      <div class="col-sm-12 col-md-6 card-container">
       <app-notification></app-notification>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 card-container">
        <app-monthly-avg-report></app-monthly-avg-report>
      </div>
      <div class="col-sm-12 col-md-6 card-container">
          <app-daily-report></app-daily-report>
      </div>
    </div>
    <br/> <br/>
  </div>