<div class="wrapper">
  <div class="container-box">
    <app-broken-widget *ngIf="isError"></app-broken-widget>
    <div class="bottom" *ngIf="!isError">
      <div class="left">
        <div class="details">
          <h1>Past Readings</h1>
          <p-table [value]="readings" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
              <tr>
                <th rowspan="3" class="date-col">Date</th>
                <th colspan="6"> Readings</th>
              </tr>
              <tr>
                <th colspan="2">Morning</th>
                <th colspan="2">AfterNoon</th>
                <th colspan="2">Night</th>
              </tr>
              <tr>
                <th>Before <span class="icon-314"></span></th>
                <th>After <span class="icon-314"></span></th>
                <th>Before <span class="icon-314"></span></th>
                <th>After <span class="icon-314"></span></th>
                <th>Before <span class="icon-314"></span></th>
                <th>After <span class="icon-314"></span></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reading>
              <tr>
                <td class="date-col">{{reading.date}}</td>
                <td>{{reading.morning.beforeFood}}</td>
                <td>{{reading.morning.afterFood}}</td>
                <td>{{reading.afternoon.beforeFood}}</td>
                <td>{{reading.afternoon.afterFood}}</td>
                <td>{{reading.night.beforeFood}}</td>
                <td>{{reading.night.afterFood}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
