<div class="wrapper">
    <div class="container-box">
      <div class="top">
      </div>
      <div class="bottom">
        <div class="left">
          <div class="details">
            <div class="row">
              <div class="col-12">
                <img src="../../../../assets/images/repair.png" width="250">
              </div>
            </div>
            <div class="row">
                <div class="col-12 message-container">
                    <span>Oh! Something went wrong. Please try later. If issue persist try after something as we might be under maintenance.</span>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  