<div class="container-fluid">
    <br/><br/>
    <div class="row full-width">
    <div class="col-md-6  full-width">
      <span class="align-middle full-width"> 
          <br/>
          <img src="../../../assets/images/logo_transparent.png" width="150px" class="welcome-logo">
          <br/>
          <h1> Keep a track of your glucose levels</h1>
          <h4>Be Smart about diabetes, really Smart! </h4> 
          <h4>Gluco-Diary helps you with that. </h4>
          <br/>
          <br/>
          <a class="btn btn-primary mx-auto" routerLink="/register" routerLinkActive="active">Register Now</a>
       </span>
    </div>
    <div class="col-md-6">
      <app-login></app-login>
      <br/><br/>
    </div>
  </div>
</div>
